#app_confirm_dialog
    & header
        text-align center
        font-size 20px

.app_confirm_dialog_text_container
    display flex
    flex-direction row
    gap 10px
    margin-bottom auto

.app_confirm_dialog_icon
    aspect-ratio 1
    width 60px
    height 60px

    max-width 60px
    max-height 60px

    border-radius border-radius-5

.app_confirm_dialog_buttons_container
    display flex
    flex-direction row
    margin-top 20px
    gap 10px

    & button
        width 50%