body::-webkit-scrollbar,
#apps_container::-webkit-scrollbar
    width 0
    height 0
    border-style solid
    border-radius 0
    &:hover
        cursor default

body::-webkit-scrollbar-track,
#apps_container::-webkit-scrollbar-track
    /*background rgb(30, 30, 35)*/
    width 0

body::-webkit-scrollbar-thumb,
#apps_container::-webkit-scrollbar-thumb
    background none
    width 0

body::-webkit-scrollbar-thumbhorizontal,
#apps_container::-webkit-scrollbar-thumbhorizontal
    background none

body::-webkit-scrollbar-thumbhover,
#apps_container::-webkit-scrollbar-thumbhover
    background none
    cursor ns-resize

body::-webkit-scrollbar-thumbhorizontalhover,
#apps_container::-webkit-scrollbar-thumbhorizontalhover
    background none
    cursor ew-resize